.channel-list .react-colorful {
  height: 14px;
}

.channel-list .react-colorful__saturation,
.channel-list .react-colorful__alpha {
  display: none;
  height: 0;
  width: 0;
}

.channel-list .react-colorful__hue {
  height: 14px;
  border-radius: 2px;
}

.channel-list .react-colorful__hue-pointer {
  width: 20px;
  height: 20px;
}

.channel-list {
  display: grid;
  grid-auto-rows: 20px;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  align-items: center;
  grid-column: 1;
  grid-row: 2;
}

.channel-label {
  font-family: sans-serif;
  color: #cccccc;
  vertical-align: middle;
  cursor: pointer;
}

.channel-label.enabled {
  color: #ffffff;
  font-weight: bold;
}

.nav-panel {
  display: grid;
  position: relative;
  pointer-events: none;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

.no-nav {
  opacity: 0.2;
}

.nav-panel > * {
  padding: 0.5em;
  pointer-events: all;
  background: rgba(0, 0, 0, 0.5);
}

.two-choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1;
  grid-row: 1;
}

.choice {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 0.5em;
  color: white;
}

.chosen {
  background-color: #800080;
}

.info {
  color: white;
  font-family: sans-serif;
  grid-column: 1;
}

.info > input {
  width: 100%;
}

